# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

.metadata
*.csv
*/Debug/*
*/Release/*
*~

*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/

plplot*/
RFID/*
libraries/*
HMM_observer/.settings/language.settings.xml
libSensezilla/.settings/language.settings.xml
libSensezilla/.settings/org.eclipse.cdt.codan.core.prefs
minspike_filter/.settings/language.settings.xml
minspike_filter/.settings/org.eclipse.cdt.codan.core.prefs
PF_IPS/data/mapcache.dat
PF_IPS/libSensezilla/libSensezilla.vcxproj.filters
PF_IPS/PF_IPS.opensdf
RemoteSystemsTempFiles/.project
transition_chunker/.settings/language.settings.xml
*.asv
